$theme-colors: (
  "primary": #5a287d,
  "danger": #ff4136
);

.err{
  color: #ff4136;
}
.form-control, .form-select, .form-check-input {
  border-color: #5a287d !important;
}
.form-check-input:checked{
  background-color: #5a287d !important;
  border-color: #5a287d !important;
}

.focuslight:focus{
  border: 1px solid white;
}
.focuslight:hover{
  border: 1px solid white;
}
 // SUBMITTED :"yel"
    // || IN-REVIEW || APPROVED || PARTIAL-APPROVED || REJECTED
.SUBMITTED{
  background: #6b6a74;
}
.INREVIEW{
  background: #0a36e9;
}
.APPROVED{
  background: #10a14c;
}
.PARTIALAPPROVED{
  background: #d1770f;
}
.REJECTED{
  background: #eb3911;
}
.DISBURSED{
  background: #10a14c;
}
.status{
  color: #fff;
  padding: 4px;
  border-radius: 3px;
  text-transform: capitalize; 
  font-size: 12px;
  font-weight:bold;
}
.pullRight{
  text-align: right;
}
.center{
  text-align: center;
}

.remarks{
  padding: 8px;
    background: #70707017;
    border-radius: 5px;
    min-width: 66%;
    text-align: left;
    margin-top: 8px;
    max-width: 66%;
}

/* The following line can be included in a src/App.scss */
@import '../node_modules/bootstrap/scss/bootstrap.scss';
// #c7a8ff

